.container {
    padding: 20px;
  }
  
  .title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .characterTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .characterTable th, .characterTable td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .characterTable th {
    background-color: #f4f4f4;
  }
  
  .characterLink {
    color: black;
  }
  
  .characterLink:hover {
    text-decoration: underline;
  }
  